<h1>Frage</h1>
<p>
  <b>Body:</b>
  <%=@question.body %>
</p>

<p>
  <b>Comment:</b>
  <%=@question.comment %>
</p>

<h2>Antworten</h2>
<ul>
	<%= render :partial => @question.answers %>
<ul>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', @question.category %>